<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<extension id="SWRLTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="OWLAx"/>
		<class value="edu.wright.dase.OdpMainUITab"/>
		<index value="X"/>
		<editorKitId value="OWLEditorKit"/>
  </extension>  

</plugin>
