<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<!-- only for showing in menu -->
<!-- 	<extension id="daseView"
		point="org.protege.editor.core.application.WorkspaceTab">
		<label value="DaseODPView" />
		<class value="edu.wsu.dase.View" />
		<index value="X" />
		<editorKitId value="OWLEditorKit" />
	</extension> -->

	<extension id="daseViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Ontology Design Pattern" />
		<class value="edu.wsu.dase.OdpMainUIComponent" />
		<category value="@org.protege.ontologycategory">
		</category>
	</extension>

	<!-- class value must be org.protege.editor.owl.ui.OWLWorkspaceViewsTab 
		to store multiple view -->
	<extension id="daseViewComplicated"
		point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Ontology Design Pattern" />
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab" />
		<index value="X" />
		<editorKitId value="OWLEditorKit" />
		<defaultViewConfigFileName value="custom.layout.xml" />
	</extension>

<!--	<extension id="SWRLTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="ODP-by-Dase"/>
		<class value="edu.wsu.dase.OdpMainUITab"/>
		<index value="X"/>
		<editorKitId value="OWLEditorKit"/>
  </extension>  -->

</plugin>
